<h3>Your Quotes</h3>
<hr />
<% @quotes.each do |quote| %>
    <div class="card bg-body-tertiary" style="margin-bottom:10px">
    <div class="card-body">
      <h4 class="card-title"><%= quote.quote_text %></h4>
      <p class="card-text"><%= quote.philosopher.fname %><br />[<a href="/quotes/<%= quote.id %>">Read full quote</a>]</p>
    </div>
    </div>
<% end %>