<h1>About MyQuoteApp</h1> #Main heading for the about section
<h3>Our Founders</h3>#Subheading for the part  of about founders 
<p>MyQuoteApp was created by these people who love quotes</p>#Description of the creators of MyQuotesApp